.left_col.menu_fixed {
  -webkit-transition: width .5s; /* Safari */
  transition: width .5s;
}

textarea.form-control {
  resize: vertical;
}

#sidebar-menu {
  height: 80%;
  overflow-x: scroll;
}

.nprogress-busy .nprogress-mask {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 700;
  background-color: rgba(0, 0, 0, .1);
}