body {
  min-height: 1300px;
  padding-top: 50px;
}

textarea.form-control {
  resize: vertical;
}

//custom radios

.location_radio {
  display: inline-block;
  box-sizing: border-box;
  width: 13%;
  margin: 20px 1% 20px 0;
  vertical-align: top;
  font-size: 22px;
  text-align: center;

  label {
    border: 1px solid rgba(250, 250, 250, .15);
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    opacity: .5;
    transition: all .5s ease-in-out;
    &:hover, &:focus, &:active {
      border: 1px solid rgba(200, 200, 200, .5);
    }
  }

  input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input[type="radio"]:active ~ label {
    opacity: 1;
  }

  input[type="radio"]:checked ~ label {
    opacity: 1;
    border: 1px solid rgb(50, 50, 50, .5);
  }
}