<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="card left-card">
			<div class="row">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="{{asset('assets_client/img/person.png')}}" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<h3>Lukas Figura</h3>
					<h5>spravce webu</h5>
					<div>
						4/202 <br>
						<a href="mailto:lfigura@sh.cvut.cz">lfigura@sh.cvut.cz</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-6 col-xs-12">
		<div class="card right-card">
			<div class="row">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="{{asset('assets_client/img/person.png')}}" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<h3>Lukas Figura</h3>
					<h5>spravce webu</h5>
					<div>
						4/202 <br>
						<a href="mailto:lfigura@sh.cvut.cz">lfigura@sh.cvut.cz</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>