<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="card left-card">
			<div class="row is-flex">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="docs/frantisek_flachs.png" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<div><h3>František Flachs</h3>
						<h4>Flachy</h4>
						<h5>vedoucí projektu</h5>
						<div>
							4/237 <br>
							<a href="mailto:f.flachs@sh.cvut.cz">f.flachs@sh.cvut.cz</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-6 col-xs-12">
		<div class="card right-card">
			<div class="row is-flex">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="docs/radim_knizek.png" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<div><h3>Radim Knížek</h3>
						<h4>Kníža</h4>
						<h5>správce místnosti na B4</h5>
						<div>
							4/540 <br>
							<a href="mailto:r.knizek@sh.cvut.cz">r.knizek@sh.cvut.cz</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="card left-card">
			<div class="row is-flex">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="docs/marko_sidlovsky.png" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<div><h3>Marko Šidlovský</h3>
						<h4>Mareček</h4>
						<h5>správce místnosti na B6</h5>
						<div>
							6/332 <br>
							<a href="mailto:m.sidlovsky@sh.cvut.cz">m.sidlovsky@sh.cvut.cz</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-6 col-xs-12">
		<div class="card right-card">
			<div class="row is-flex">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="docs/lukas_figura.png" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<div><h3>Lukáš Figura</h3>
						<h4>Luky</h4>
						<h5>správce webu</h5>
						<div>
							6/332 <br>
							<a href="mailto:l.figura@sh.cvut.cz">l.figura@sh.cvut.cz</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="card left-card">
			<div class="row is-flex">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="docs/dominik_stodola.png" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<div><h3>Dominik Stodola</h3>
						<h4>Dominik</h4>
						<h5>člen projektu</h5>
						<div>
							2/502 <br>
							<a href="mailto:d.stodola@sh.cvut.cz">d.stodola@sh.cvut.cz</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-6 col-xs-12">
		<div class="card right-card">
			<div class="row is-flex">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="docs/tomas_bilak.png" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<div><h3>Tomáš Bilák</h3>
						<h4>Tom</h4>
						<h5>člen projektu</h5>
						<div>
							4/517 <br>
							<a href="mailto:t.bilak@sh.cvut.cz">t.bilak@sh.cvut.cz</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="card left-card">
			<div class="row is-flex">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="docs/jan_flachs.png" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<div><h3>Jan Flachs</h3>
						<h4>Honza</h4>
						<h5>člen projektu</h5>
						<div>
							4/236 <br>
							<a href="mailto:j.flachs@sh.cvut.cz">j.flachs@sh.cvut.cz</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-6 col-xs-12">
		<div class="card right-card">
			<div class="row is-flex">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="docs/tereza_jakubu.png" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<div><h3>Tereza Jakubů</h3>
						<h4>Terka</h4>
						<h5>člen projektu</h5>
						<div>
							4/108 <br>
							<a href="mailto:t.jakubu@sh.cvut.cz">t.jakubu@sh.cvut.cz</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="card left-card">
			<div class="row is-flex">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="docs/sarka_hnykova.png" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<div><h3>Šárka Hnyková</h3>
						<h4>Šárka</h4>
						<h5>člen projektu</h5>
						<div>
							4/108 <br>
							<a href="mailto:s.hnykova@sh.cvut.cz">s.hnykova@sh.cvut.cz</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-6 col-xs-12">
		<div class="card right-card">
			<div class="row is-flex">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="docs/tomas_suchomel.png" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<div><h3>Tomáš Suchomel</h3>
						<h4>Tom</h4>
						<h5>člen projektu</h5>
						<div>
							6/436 <br>
							<a href="mailto:t.suchomel@sh.cvut.cz">t.suchomel@sh.cvut.cz</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="card left-card">
			<div class="row is-flex">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="docs/david_zollpriester.png" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<div><h3>David Zollpriester</h3>
						<h4>Zollo</h4>
						<h5>člen projektu</h5>
						<div>
							6/403 <br>
							<a href="mailto:d.zollpriester@sh.cvut.cz">d.zollpriester@sh.cvut.cz</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-6 col-xs-12">
		<div class="card right-card">
			<div class="row is-flex">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="docs/martin_holec.png" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<div><h3>Martin Holec</h3>
						<h4>Martin</h4>
						<h5>člen projektu</h5>
						<div>
							6/324 <br>
							<a href="mailto:m.holec@sh.cvut.cz">m.holec@sh.cvut.cz</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="card left-card">
			<div class="row is-flex">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="docs/slavomir_kozar.png" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<div><h3>Slavomír Kožár</h3>
						<h4>Slavo</h4>
						<h5>člen projektu</h5>
						<div>
							6/330 <br>
							<a href="mailto:s.kozar@sh.cvut.cz">s.kozar@sh.cvut.cz</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-6 col-xs-12">
		<div class="card right-card">
			<div class="row is-flex">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="docs/marek_pechar.png" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<div><h3>Marek Pechar</h3>
						<h4>Marek</h4>
						<h5>člen projektu</h5>
						<div>
							7/49 <br>
							<a href="mailto:m.pechar@sh.cvut.cz">m.pechar@sh.cvut.cz</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="card left-card">
			<div class="row is-flex">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="docs/ondrej_slavicek.png" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<div><h3>Ondřej Slavíček</h3>
						<h4>Ondra</h4>
						<h5>člen projektu</h5>
						<div>
							private <br>
							<a href="mailto:o.slavicek@sh.cvut.cz">o.slavicek@sh.cvut.cz</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-6 col-xs-12">
		<div class="card right-card">
			<div class="row is-flex">
				<div class="col-md-6 col-xs-6 person-image text-center">
					<img src="docs/tomas_jedlicka.png" class="img-responsive" alt="Person image">
				</div>
				<div class="col-md-6 col-xs-6 person-description">
					<div><h3>Tomáš Jedlička</h3>
						<h4>Chip</h4>
						<h5>člen projektu</h5>
						<div>
							privat <br>
							<a href="mailto:tomas.jedlicka@sh.cvut.cz">tomas.jedlicka@sh.cvut.cz</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>